* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;;
}

#landing {
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-container {
    width: 40%;
    display: flex;
}

.nav-container ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-container ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: .8rem;
}

.main-content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main-content h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.main-content p {
    margin-bottom: 4rem;
    text-align: center;
    line-height: 2;
}

.landing-btn a{ 
    border: 2px solid #000;
    background: transparent;
    padding: .5rem 3rem;
    border-radius: 10px;
    text-decoration: none;
}


/* ------------------   About Us Section   ------------------*/

#about {
    height: 100vh;
}

.about-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about-info {
    width: 100%;
    line-height: 2;
}

.about-info h2 {
    margin-bottom: 3rem;
}

.about-img {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4rem;
    width: 100%;
    justify-content: center;
}

.about-img img {
    width: 300px;
}

/* ------------------   Testimonials Section   ------------------*/

#testimonials {
    height: 100vh;
    width: 100%;
    padding: 5rem 0;
}

#testimonials h2 {
    text-align: center;
}

.testimonials-container {
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: space-between;
    margin: 4rem auto;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 300px;
    border: 1px solid rgba(0,0,0,0.2);
}

.fa-user {
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    padding: 1.3rem;
}

.testimonial-info {
    width: 50%;
    text-align: center;
    line-height: 1.3;
}
